.block {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 60px 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 16px #0008;
          box-shadow: 0 4px 16px #0008;
  text-align: center;
}

.block > i {
  width: 100px;
  height: 100px;
  font-size: 45px;
  line-height: 96px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  -webkit-animation: wave 3s linear 0s infinite;
          animation: wave 3s linear 0s infinite;
}

.block > span {
  display: inline-block;
  width: 100%;
  margin: 20px 0 10px;
  font-size: 44px;
  line-height: 50px;
  font-weight: bold;
}

.block > h4 {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
}

.block > i + h4 {
  margin-top: 20px;
}

.block > h4 + span {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}

@-webkit-keyframes wave {
  0% {
    border-radius: 40% 50% 35% 45%;
  }
  50% {
    border-radius: 30% 35% 50% 40%;
  }
  100% {
    border-radius: 40% 50% 35% 45%;
  }
}

@keyframes wave {
  0% {
    border-radius: 40% 50% 35% 45%;
  }
  50% {
    border-radius: 30% 35% 50% 40%;
  }
  100% {
    border-radius: 40% 50% 35% 45%;
  }
}
